// Общие стили
html {
  scroll-behavior: smooth;
  background-color: white;
}
.lock {
  overflow: hidden;
  touch-action: none;
}
.main {
  background-color: $fontColorTwo;
}
// start welocme section
.main__welcome-wrapper {
  color: $fontColorTwo;

  height: 103vh;
  background: url('../img/welcome.png') no-repeat center center / cover;

  padding: 15px;
}
.main__welocme-body {
  max-width: $maxWidth + px;
  margin: 0 auto;
}
// end welcome section
.main__block {
  padding: 0 15px;
}
.main__section {
  max-width: $maxWidth + px;
  margin: 0 auto;
  padding: 80px 0 100px 0;
}

@media (max-width: 1167px) {
  .main__welcome-wrapper {
    padding: 20px 15px;
    padding-bottom: 80px;
  }
}

@media (max-width: 1045px) {
  .main__welcome-wrapper {
    padding-bottom: 0;
  }
  .main__section {
    padding: 50px 0;
  }
}

@media (max-width: 390px) {
  .main__welcome-wrapper {
    max-height: 600px;
  }
}
