// Общие стили
html {
  scroll-behavior: smooth;
  background-color: black;
}
.lock {
  overflow: hidden;
  touch-action: none;
}
.main__welcome {
  color: $fontColorTwo;

  height: 110vh;
  width: 100vw;
  background: url('../img/welcome.png') no-repeat center center / cover;

  padding: 15px;
  padding-bottom: 0;
}
.main__section {
  max-width: $maxWidth + px;
  margin: 0 auto;
}
@media (max-width: 1045px) {
  .main__welcome {
    padding: 20px 15px;
    padding-bottom: 0;
  }
}
