.blog {
  .blog__container {
    .blog__body {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 40px;
      .blog__header {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 8px;
      }
      .blog__cards {
        display: flex;
        flex-wrap: wrap;
        row-gap: 25px;
        column-gap: 20px;

        width: 100%;
        .blog__card {
          display: flex;
          gap: 25px;

          border-radius: 10px;
          background-color: $fontColorTwo;
          padding: 15px;

          overflow: hidden;
          width: 580px;
          .card__img {
            img {
              border-radius: 5px;
            }
          }
          .card__info {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: flex-start;
            gap: 25px;

            position: relative;

            width: 295px;
            padding-top: 15px;
            .card__title {
              font-size: 24px;
              line-height: 32px;
              font-weight: bold;
              &:hover {
                cursor: pointer;

                color: $backgroundColor;
                text-decoration: underline;

                transition: 0.1s;
              }
            }
            .card__text {
              font-size: 14px;
              line-height: 20px;
              min-height: 80px;
              max-height: 110px;
            }
            .card__footer {
              display: flex;
              justify-content: space-between;

              position: absolute;
              bottom: 20px;
              right: 0;

              font-size: 14px;
              width: 100%;
              .card__date {
                color: $labelColor;
              }
              .card__read {
                cursor: pointer;

                color: $backgroundColor;
                font-weight: bold;
              }
            }
          }
        }
      }
      .blog__btn {
        width: 220px;
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: 1210px) {
  .blog {
    .blog__container {
      .blog__body {
        gap: 30px;
        .blog__cards {
          justify-content: center;
          .blog__card {
            display: flex;
            flex-direction: column;
            gap: 15px;

            padding: 0;
            max-width: 285px;
            .card__img {
              img {
                width: 285px;
                max-height: 280px;
                object-fit: cover;
                border-radius: 0;
              }
            }
            .card__info {
              padding: 0 15px 15px 15px;
              width: 100%;
              height: 100%;
              .card__title {
                font-size: 20px;
                line-height: 26px;
              }
              .card__footer {
                position: static;
                align-items: flex-end;
                flex-grow: 1;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 620px) {
  .blog {
    .blog__container {
      .blog__body {
        align-items: start;
        .blog__header {
          align-items: start;
        }
        .blog__cards {
          flex-wrap: nowrap;
          display: flex;
          justify-content: start;

          width: 100%;
          max-height: 500px;
          overflow: auto;
          .blog__card {
            min-width: 285px;
            gap: 20px;
            .card__info {
              gap: 15px;
            }
          }
        }
        .blog__btn {
          align-self: center;

          padding: 12px 24px;
          width: 200px;
          height: 44px;
          margin-top: 0;
        }
      }
    }
  }
}
