@use 'sass:math';

//<ПОДЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>
// @import "filename";
//</ПОДЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>
@import 'base/null';
@import 'base.scss';
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>

//<МИКСИНЫ>
@import 'base/mixins';
//</МИКСИНЫ>

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ - ФОРМ И ГОТОВЫХ КЛАССОВ>
@import 'base';
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ - ФОРМ И ГОТОВЫХ КЛАССОВ>

//<ПЕРЕМЕННЫЕ>
// Главный цвет
$mainColor: #000;
// Минимальная ширина страницы
$minWidth: 320;
// Ширина макета
$maxWidth: 1180;
//</ПЕРЕМЕННЫЕ>
