@use 'sass:math';

//<ПОДЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>
// @import "filename";
//</ПОДЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>
@import 'base/null';
@import 'base.scss';
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>

//<МИКСИНЫ>
@import 'base/mixins';
//</МИКСИНЫ>

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ - ФОРМ И ГОТОВЫХ КЛАССОВ>
@import 'base';
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ - ФОРМ И ГОТОВЫХ КЛАССОВ>

//<ПЕРЕМЕННЫЕ>
// Цвет главного шрифта
$fontColorOne: #18121e;
// Цвет главного шрифта
$fontColorTwo: #fdfdfd;
// Цвет главного шрифта
$fontColorThree: #f3f5f4;
// Цвет доп шрифтов и hover в футере
$labelColor: #f2be22;
// Цвет кнопок и футера и hover названий
$backgroundColor: #1a3e3e;
// Минимальная ширина страницы
$minWidth: 390;
// Ширина макета
$maxWidth: 1180;
//</ПЕРЕМЕННЫЕ>
