@font-face {
  font-family: NEXT ART_Bold;
  font-display: swap;
  src:
    url('../fonts/NEXT ART_Bold.woff2') format('woff2'),
    url('../fonts/NEXT ART_Bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: NEXT ART_SemiBold;
  font-display: swap;
  src:
    url('../fonts/NEXT ART_SemiBold.woff2') format('woff2'),
    url('../fonts/NEXT ART_SemiBold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: NEXT ART_Regular;
  font-display: swap;
  src:
    url('../fonts/NEXT ART_Regular.woff2') format('woff2'),
    url('../fonts/NEXT ART_Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: NEXT ART_Heavy;
  font-display: swap;
  src:
    url('../fonts/NEXT ART_Heavy.woff2') format('woff2'),
    url('../fonts/NEXT ART_Heavy.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: NEXT ART_Light;
  font-display: swap;
  src:
    url('../fonts/NEXT ART_Light.woff2') format('woff2'),
    url('../fonts/NEXT ART_Light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
